body
{
	font-family: 'Lato', sans-serif !important;
	color: #747784;
	font-weight: 300 ;
}
.text-muted 
{
	color: #BC8888;
}
.text-thin
{
	font-weight: 100 ;
}
.title-super 
{
	font-size: 60px ;
}
.title-logo 
{
	margin-top: 20px ;
}